body{
    font-family: Arial, Helvetica, sans-serif;
}
.afsana{
    width: 500px;
    height: 500px;
    border: 20px solid black;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   
}
.sana{
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    right: 240px;
}
.saki{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    position: absolute;

}
.houre-1{
    top: 40px;
    right: 130px;
}
.houre-2{
    top: 125px;
    right: 45px;
}
.houre-3{
    top: 245px;
    right: 10px;
}
.houre-4{
    top: 345px;
    right: 45px;
}
.houre-5{
   bottom: 40px;
   right: 130px;
}
.houre-6{
    bottom: 10px;
    right: 240px;
 }
 .houre-7{
    bottom: 40px;
    left: 125px;
 }
 .houre-8{
    top: 345px;
    left: 40px;
 }
 .houre-9{
   top: 245px;
   left: 10px;
 }
 .houre-10{
    top: 125px;
    left: 45px;
 }
 .houre-11{
    top: 40px;
    left: 130px;
 }
 .houre-12{
    top: 10px;
    right: 240px;
 }
.saki1{
    color: rgb(216, 19, 167);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 140px;
    left: 150px;
}
.h-hand-arow{
   width: 300px;
   height: 300px;
   position: absolute;
   border-radius: 50%;
   top: 100px;
   right: 100px;
}
.h-hand{
    position: relative;
}
.h-hand .hand{
    width: 6px;
    background-color: blue;
    height: 135px;
    position: absolute;
    left: 147px;
    top: 15px;
}
.h-hand .arow{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    position: absolute;
    transform: rotate(180deg);
    left: 143px;
    top: 5px;
}
.m-hand-arow{
    width: 350px;
    height: 350px;
    position: absolute;
    border-radius: 50%;
    top: 75px;
    right: 75px;
 }
 .m-hand{
    position: absolute;
}
.m-hand .hand{
    width: 6px;
    background-color: blue;
    height: 160px;
    position: absolute;
    left: 172px;
    top: 12px;
}
.m-hand .arow{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    position: absolute;
    transform: rotate(180deg);
    left: 168px;
    top: 2px;
}
.s-hand-arow{
    width: 350px;
    height: 350px;
    position: absolute;
    border-radius: 50%;
    top: 75px;
    right: 75px;
 }
 .s-hand{
    position: absolute;
}
.s-hand .hand{
    width: 4px;
    background-color: blue;
    height: 199px;
    position: absolute;
    left: 172px;
    top: -29px;
}